{
  "extends": "airbnb",
  "rules": {
    //"indent": [2, 2, {"SwitchCase": 1}],
    "indent": [0],
    "id-length": [0],
    "new-cap": [2, {"capIsNewExceptions": ["Arc"]}],
    "react/no-multi-comp": [0]
  }
}
